appjar
asdf
asdf-standard
asdf-transform-schemas
asdf-unit-schemas
asteval
astroid
astropy
astropy-iers-data
asttokens
attrs
awkward
awkward-cpp
backcall
bcrypt
black
cffi
click
contourpy
coverage
cramjam
cryptography
cycler
decorator
dill
executing
fonttools
fsspec
future
gitpython
greenlet
h5py
iniconfig
isort
jedi
jmespath
jsonschema
kiwisolver
lazy-object-proxy
lmfit
lxml
matplotlib
matplotlib-inline
mccabe
mypy
mypy-extensions
numba
numpy
packaging
pandas
paramiko
parso
pathspec
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
pure-eval
py
pycparser
pygments
pyerfa
pylint
pynacl
pyparsing
pytest
python-dateutil
scipy
scp
semantic-version
six
sqlalchemy
sshtunnel
stack-data
tenacity
tokenize-rt
toml
tomli
tomlkit
traitlets
typing-extensions
tzdata
uncertainties
uproot
urllib3
wcwidth
wrapt
